body{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

//homepage
video {
  width: 100%;
}

.homepageBox {
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 30%;

    justify-content: center;
    align-items: center;
    // background-color: white;
}

.homepageText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;

}
.homepageTextSubtitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

// index

.sorter {
  margin-top: 30px;
}

.indexImage {
  max-width: 600px;
  max-height: 600px;
  padding: 10px;
}

.indexLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexPara {
  text-decoration: none;
}


// show

.showText {
padding-top: 200px;
padding-left: 100px;
padding-bottom: 200px;
}
//
.zoom {
    transition: transform .1s linear; /* Animation */


}

.zoom:hover {
    transform: scale(2.0);
  }

.showPara {
  padding-top: 50px;
  padding-bottom: 50px;
}

.colourBox {
  border: 2px solid rgba(0,0,0,0.2);
  padding: 15px;
  width: 20%;
}

.showButton {
  border: 2px solid rgba(0,0,0,0.2);
  margin-top: 20px;
  padding: 10px;
  width: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: rgba(0,0,0,0.2);
  color: white;

}


.a {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar-item img {
  max-height: 100px;
}


/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #D3D3D3;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;
  color: #D3D3D3;

}


//forms

input {
  width: 50%;
  height: 50px;
}


.loginDiv {
  padding: 50px;
border: 2px solid rgba(0,0,0,0.2);
margin-top: 100px;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
